@import url('https://fonts.googleapis.com/css?family=Lato:100,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Content {
height: 100vh;
color: white;
font-family: 'Lato', sans-serif;
position: relative;
font-size: 10px;
}

.Content a {
  text-decoration: none;
  color: #fff;
}


.Content section {
  padding: 10rem 0;
}

.Content .Heading {
  color: #424242;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.Content .Heading::after {
  content: "";
  width: 10rem;
  height: 0.2rem;
  background-color: #333333;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.Content .Card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .Content .Card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .Content .Card-wrapper .Card {
    margin: 2rem;
    transition: all .5s ease;
  }

}