.Places {
  background-color: #001f33;
  height: 100%;
  color: white;
  background-image: url("../../assets/place.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  font-family: "Lato", sans-serif;
  position: relative;
}

.Places h1 {
  font-size: 10vw;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.3s all ease;
}
