@import url('https://fonts.googleapis.com/css?family=Lato:100,400&display=swap');

.Header {
background-image: url('../../assets/bg.jpg');
background-size: cover;
background-attachment: fixed;
height: 100vh;
color: white;
font-family: 'Lato', sans-serif;
position: relative;
}


.Header h1 {
  font-size: 10vw;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: .3s all ease;
}

.Overlay {
  display: block;
  height: 100vh;
  width: 100%;
  
}

