.Card img {
  width: 190%;
  height: 21.3rem;
  object-fit: contain;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.Card h1 {
  color: #424242;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.Card p {
  color: #424242;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem;
  font-style: italic;
  text-align: center;
}

.Card .Btn {
  padding: 1rem 2.5rem;
  background-color: #333333;
  border-radius: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.5s;
}

.Card .Btn:hover {
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.Card .Btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.Card {
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px) {
  .Card {
    margin: 2rem;
    transition: all 0.5s ease;
  }
}
